.graphics-container{
    display:grid;
grid-auto-rows: 20%;
    background-color:#F9FAFB ;
    height: 100%;
}

.first-line{
    display: grid;
    grid-template-columns: 45% 55%;
    
    gap:20px;
    padding: 10px;
}

.second-line{
    display: grid;
    grid-template-columns: 40% 30% 30%;
    gap:20px;
    padding: 10px;
}

.third-line{
    display: grid;
}

.third-line-content{
    display:grid;
    grid-template-columns: 40% 30% 30%;
    gap:20px;
    padding: 10px;
    margin-top: 50px;

}