.header-container{
width: 1575px;
height: 120px;
flex-shrink: 0;
/* background-color: aqua; */
display: flex;
justify-content: space-between;
align-items: center;
padding:20px;
}

.header-title{
    color:  #151D48;

    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 50.4px */ 
}


  
  .header-right-wrapper{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.header-search-input{
    display: flex;
width: 513px;
height: 60px;
padding: 2px 32px 2px 24px;
align-items: center;
gap: 8px;
flex-shrink: 0;
border-radius: 16px;
background-color: #F9FaFb;

}

.header-search-input input{
display: flex;
width: 457px;
height: 56px;
align-items: center;
background-color: #F9FaFb;

}

.header-search-input img{
width: 32px;
height: 32px;
flex-shrink: 0;
color:#5D5FEF
}

.header-language{
display: inline-flex;
height: 60px;
padding: 0px 16px;
justify-content: center;
align-items: center;
gap: 16px;
flex-shrink: 0;
}

.header-user{
    display: flex;
    gap:10px;
}

.header-user-image-container{
    display: flex;
    gap:10px;
}

.header-login-btn{
    text-transform: uppercase;
    padding: 10px 40px 10px 40px;
    background-color: #5D5FEF;
    color:white;
    border-radius: 10px;
}